<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451212178113-ktqqa2qgkreevcecs67t8pv2mrs7834a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451212178113-ktqqa2qgkreevcecs67t8pv2mrs7834a</string>
	<key>API_KEY</key>
	<string>AIzaSyBC3Q8gXxyhxHX18RzMmhbQ5-dmJ9khi4c</string>
	<key>GCM_SENDER_ID</key>
	<string>451212178113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practice1</string>
	<key>PROJECT_ID</key>
	<string>tdk-redesign</string>
	<key>STORAGE_BUCKET</key>
	<string>tdk-redesign.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451212178113:ios:36712bbe6be35964145a40</string>
	<key>DATABASE_URL</key>
	<string>https://tdk-redesign-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>